button {
    height: 30px;
    width: 60px;
    margin: 10px;
    outline: none;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    float: right;
}

button.current {
    box-shadow: 0 0 0 2px white,
        0 0 0 4px black;
}

#allTabsInfo {
    margin-left: 10px;
    min-height: 40px;
}

#footer {
    position: fixed;
    padding: 0;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    z-index: 3;
    text-align: center;
    vertical-align: middle;
    background-color: #333;
}

#privateImg {
    position: fixed;
    padding: 0;
    bottom: 50px;
    right: 20px;
    margin: 0;
    width: 100px;
    z-index: -1;
    text-align: center;
    vertical-align: middle;
    background-color: #333;
}

p {
    color: white;
    margin: 10px 0px 20px 15px;
    font-weight: bold;
    font-size: 18px;
}

ul {
    margin-left: -10%;
    vertical-align: middle;
    align-items: center;
}

ul li {
    list-style: none;
    height: 20px;
    background-size: 16px;
    margin: 0;
    padding: 6px 0 4px 30px;
    border-radius: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}

label {
    color: white;
    font-size: 16px;
    user-select: none;
}

input[type=checkbox]:hover {
    box-shadow: 0px 0px 6px #FFF;
}

input[type=image] {
    position: relative;
    z-index: 2;
    user-select: none;
    background: transparent;
    height: 18px;
    float: right;
}